<!doctype html>
<html>
<head>
    <title>New Student Registration</title>
</head>
<body>
    <form action="/student-add" method="POST">
        <div>
            <label>First Name
                <input type="text" name="first_name">
            </label>
        </div>
        <div>
            <label>Last Name
                <input type="text" name="last_name">
            </label>
        </div>
        <div>
            <label>Github Username
                <input type="text" name="github">
            </label>
        </div>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>